* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    border: none;
}

.head {
    height: 100%;
}
.about2 {
    padding: 2.2% 6.5%;
   
}
.about-content {
    display: flex;
    justify-content: space-between;
    position: relative;
}
.left-content {
    width: 45%;
}
.about-header {
        font-size: 38px;
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        color: #050038;
        left: 0;
}

.about-description1, .about-description2 {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    color: #050038;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 300;
}
.about-img {
    margin-top: 40px;
    padding-left: 2%;
}
.about-details {
    position: absolute;
    background-image: linear-gradient(to right, #f5f7fa, #c3cfe2);
    top: 512px;
    width: 100%;
    align-items: center;
}
.details {
    display: flex;
    justify-content: space-between;
    padding: 2.2% 6.5%;
    align-items: center;
}

.details1, .details2 {
    display: block;
    height: auto;
    width: 43.2%;
    margin:  80px 0;
    
}

.details1-inline, .details2-inline {
    display: flex;
    padding-bottom: 20px;
}
.details1-inline h1, .details2-inline h1 {
    font-size: 29px;
    font-family: "Poppins", sans-serif;
    color: #050038;
    font-weight: 600;
    padding-left: 20px;
}

.details1 p, .details2 p {
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    color: #050038;
    font-weight: 300;
}
@media only screen and (max-width: 1024px) {
    .about-content {
        display: block;
        height: 100%;
        max-width: 100%;
        align-items: center;
        text-align: center;
    }
    .about2 {
        height: 100%;
    }
    .about-header {
        font-size: 2.2em;
    }
    .left-content {
        width: 100%;
    }
    .about-img {
        max-width: 100%;
    }
    .about-details {
        top: 800px;

    }
    .details {
        display: block;
    }
    .details1, .details2 {
        width: 100%;
    }
    .sect5 {
        margin-top: 620px;
    }
}